body {
	margin: 0px;
	background: #f2f2e6;
		background: linear-gradient(90deg, rgba(242, 242, 230, 1) 0%, rgba(138, 235, 89, 1) 22%, rgba(141, 196, 224, 1) 48%, rgba(44, 245, 61, 1) 100%);
		height: 100vh;
		font-family: sans-serif;
}


.topnav{
	overflow: hidden;
	background-color: black;
}


.topnav a {
	margin-right: 10px;
  float: right;
  width: 100px;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.labels {
  top: 20%;
  left: 23%;
  position: absolute;
}



input[type=text] {


  padding: 12px;
  width: 200px;
  border-radius: 10px;
  display: block;
  border-width: 1px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

#getdatabtn {
    height: 40px;
    width: 260px;
    background-color: lightskyblue;
    border-radius: 10px;
    border-width: 2px;
    border-color: blue;
    border-style: solid;
    position: absolute;
    cursor: pointer;
    top: 80%;
    left: 20%;
    transition: all 0.2s ease;
}

#getdatabtn:hover {
    background-color: deepskyblue;
    transform: scale(1.04); 
}


.center {	
	width: 400px;
    height: 500px;
    background-color: azure;
 	border-radius: 10%; 
     position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
  
    margin: auto;
}